.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.quote{
   background: rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   padding: 5px 15px 5px 15px;
   text-align: left;
}

.discord{
   background: rgba(80, 78, 238, 0.5);
   border-radius: 5px;
   padding: 1px 5px 1px 5px;
}

.discord:visited, discord:link{
   color: aliceblue;
}

.emoji{
   width: 1.375em;
   height: 1.375em;
}