* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   --fontColor: #f0f8ff;
}

body{
   background-color: #2f4f4f;
   color: var(--fontColor);
   align-items: center;
   text-align: center;
   font-size: 1.5rem;
}

a:visited, a:link{
   text-decoration: none;
   color: cornflowerblue;
}

// flex flex-col w-full m-auto space-y-8 text-justify mb-10
#regras{
   display: flex;
   flex-direction: column;   
   flex: 1;

   width: 80%;
   margin: auto;
}

#regras h1{
   margin-top: 20px;
   margin-bottom: 20px;
}

#regras p{
   margin-bottom: 10px;
   text-indent:3rem;
}

// pb-5 mb-10
#sumario{
   border-bottom: 2px solid black;
   padding-bottom: 20px;
   margin-bottom: 40px;
}

// flex m-auto text-left w-full gap-12 justify-center
.sumario{
   display: flex;
   margin: auto;
   text-align: left;

   width: 100%;
   gap: 50px;
   justify-content: center;
}

// text-justify mb-10 w-full
.regra{
   text-align: justify;  
   border-bottom: 2px solid black;
   margin-bottom: 40px;
}

blank{
   margin: 5px;
}

#head{
   width: 99%;
   height: fit-content;

   padding: 5px 5px 30px;
   margin: 10px auto 30px;
   border-bottom: 2px solid rgba(166, 166, 166, 0.3);

   display: flex;
   gap: 10px;

   justify-content: center;
   font-size: 28px;
}

#head a{
   color: var(--fontColor);
}